IPlantUML
cssselect
cython
dask
h5py
jupyter
keras
lxml
matplotlib
nltk
nose
numpy
pandas
pathsjson
pillow-simd
pyzmq
scikit-image
scikit-learn
scipy
seaborn
sympy
tensorflow-gpu
theano
xgboost
vaquero
